.calendar {
    width: 278px;
    height: 284px;
    border-left: solid 1px #d8dae1;
    margin-left: -2px;

}

.month {
    border-bottom: solid 1px #d8dae1;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.month>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-button {
    width: 30px;
    height: 50%;
}

.title {
    height: 50%;
    width: 150px;
}

.days {
    width: 258px;
    height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px 10px 10px;
}

.week {
    display: flex;
    justify-content: center;
    align-items: center;
}

.week:first-child { /* weeks header */
    border-bottom: solid 1px #d8dae1;
    margin-bottom: 5px;
}

.day.label {
    color: #d8dae1;
    font-weight: 700;
    font-size: .5em;
}

.day:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.day:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.day.first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.day.last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.day {
    width: 32px;
    height: 25px;
    margin: 3px 0px 3px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.day.weekend {
    color: #d8dae1;
}

.day.start-selected {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #66cc66;
    color: white;
}

.day.inner-selected {  
    background-color: #eaf6eb;
}

.day.end-selected {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #66cc66;
    color: white;
}