.calendar {
    width: 50%;
    height: 100%;
    border-left: solid 1px #e2e4ec;
    margin-left: -2px;
    -webkit-user-select: none;
}

.month {
    border-bottom: solid 1px #e2e4ec;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.month>.control {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19px;
}

.arrow-button {
    width: 30px;
    cursor: pointer;
}

.arrow-button::after {
    left: .3em;
    top: .3em;
    border: 2px solid;
    border-top: none;
    border-left: none;
    content: "";
    background: 0 0;
    pointer-events: none;
    padding: 3px;
    transition: all .3s ease;
}

.arrow-button.left::after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.arrow-button.right::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.arrow-button:hover::after {
    border-color: #5ac66f;
}

.title {
    width: 150px;
    font-size: 14px;
}

.days {
    width: 258px;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.week {
    width: 261px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.week:first-child { /* weeks header */
    border-bottom: solid 1px #e2e4ec;
    margin-bottom: 5px;
}

.day {
    width: 37px;
    height: 25px;
    margin: 3px 0px 3px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.day.label {
    color: #a5a8b0;
    font-size: 11px;
    font-weight: bold;
}

.day:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.day:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.day.first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.day.last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.day:not(.label):not(.placeholder) {
    cursor: pointer;
    transition: all .3s ease;
}

/* .day:not(.label):hover {
    transform: scale(1.2);
} */

.day:not(.label):not(.start-selected):not(.end-selected):not(.inner-selected):not(.placeholder):hover {
    border-radius: 15px;
    background-color: rgba(90,198,111,.15);
}

.day.weekend {
    color: #a5a8b0;
}

.day.start-selected {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #5ac66f;
    color: white;
}

.day.inner-selected {  
    background-color: rgba(90,198,111,.15);
}

.day.end-selected {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #5ac66f;
    color: white;
}